image: maven:3-jdk-8

compile:
  script: "mvn compile -B"
  
test:
  script: "mvn test -B"
  
package:
  script: "mvn package -B"
  
  
services:
- mysql

variables:
  # Configure mysql service (https://hub.docker.com/_/mysql/)
  MYSQL_DATABASE: notaire
  MYSQL_ROOT_PASSWORD: 

connect:
  image: mysql
  script:
  - echo "SELECT 'OK';" | mysql --user=root --password="$MYSQL_ROOT_PASSWORD" --host=mysql "$MYSQL_DATABASE"
